name: Fluxo de integração contínua

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - '**'
  pull_request:
      branches:
        - main
        - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Set up Docker
        uses: docker-practice/actions-setup-docker@master

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -e .
          pip install -r requirements.txt

      - name: Run unit tests
        run: pytest server/tests/unit --cov-config=.github/workflows/unit.coveragerc --cov=server --cov-report term-missing
        env:
          AUTHENTICATOR_DNS: ./token

      - name: Run integration tests
        run: pytest server/tests/integration --cov-config=.github/workflows/integration.coveragerc --cov=server --cov-report term-missing
        env:
          AUTHENTICATOR_DNS: ./token
          TEST_DB_HOST: localhost
          TEST_DB_USER: postgres
          TEST_DB_PASS: 1234
          TEST_DB_NAME: postgres
          TEST_DB_PORT: 5432
          MIGRATION_DB_HOST: localhost
          MIGRATION_DB_USER: postgres
          MIGRATION_DB_PASS: 1234
          MIGRATION_DB_NAME: postgres
          MIGRATION_DB_PORT: 5432

